// * {
//   outline: 1px solid red;
// }

body {
  font-family: "Poppins", sans-serif;

  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1720px;
  margin: 0 auto;
}

/* #region Header */
.header-container {
  display: flex;
  align-items: center;
  height: 80px;
  margin-top: 63px;
  margin-bottom: 81px;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-logo {
  align-items: center;
  justify-content: center;
  position: relative;
  display: inline-flex;
  margin-left: 20px;
  margin-right: 360px;
}

.nav-logo {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.04em;
  color: #fff;

  background-color: rgb(24, 37, 37);
}

.nav-romb-logo {
  fill: #2c2d32;
  background-color: #b25a59;


  position: absolute;



  top: -60%;
  left: -10%;
  z-index: -1;


}

.nav-list {
  display: flex;
  align-items: center;
  height: 34px;
  gap: 85px;

}

.nav-item {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-link {
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.02em;
  color: #252641;

}

.header-address {
  border-radius: 80px;
  width: 334px;
  height: 80px;
  background: #b25a59;
  padding-top: 20px;
  padding-bottom: 20px;


}

.phone-list {}

.phone-item {
  display: flex;
  align-items: center;
  margin-left: 38px;
}

.phone-icon {
  margin-right: 22px;
}

.phone-link {
  font-weight: 500;
  font-size: 22px;
  font-style: normal;
  letter-spacing: 0.02em;
  color: #fff;

  // background-color: #252641;
}

/* #endregion */

/* #region Hero */

/* #endregion */
/* #region Benefits */

/* #endregion */
/* #region Team */


/* #endregion */
/* #region Portfolio */

/* #endregion */
/* #region Footer */


/* #endregion */

/* #region Modal */


/* Custom checkbox ver 1.0 */



/* #endregion */