body {
  font-family: "Poppins", sans-serif;

  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1720px;
  margin: 0 auto;
  padding: 0 15px;
}

/* #region Header */
.header {}

.header-nav {}

.nav-logo {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.04em;
  color: #fff;

  background-color: rgb(24, 37, 37);
}

.nav-list {}

.nav-item {}

.nav-link {
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.02em;
  color: #252641;
}

.header-address {}

.phone-list {}

.phone-item {}

.phone-link {
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.02em;
  color: #fff;

  background-color: #252641;
}

/* #endregion */

/* #region Hero */

/* #endregion */
/* #region Benefits */

/* #endregion */
/* #region Team */


/* #endregion */
/* #region Portfolio */

/* #endregion */
/* #region Footer */


/* #endregion */

/* #region Modal */


/* Custom checkbox ver 1.0 */



/* #endregion */