body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1920px;
  margin: 0 auto;
  padding: 0 15px;
}

/* #region Header */


/* #endregion */

/* #region Hero */

/* #endregion */
/* #region Benefits */

/* #endregion */
/* #region Team */


/* #endregion */
/* #region Portfolio */

/* #endregion */
/* #region Footer */


/* #endregion */

/* #region Modal */


/* Custom checkbox ver 1.0 */



/* #endregion */